:root{
    --liftWidth: 0%;
    --floorHeight: 0%;
}
#mainContainer{
    height: 100vh;
}

#LiftContainer{
    height: 90%;
    width: 70%;
    background-color: aqua;
}
#innerLiftContainer{
    height: 95%;
    width: 95%;
    background-color: blue;
}
#floor{
    height: var(--floorHeight);
    width: 100%;
    background-color: yellow;
}
#floorBox{
    width: 85%;
    padding: 3%;
    padding-left: 5%;
}
#floorTitle{
    width: 15%;
}
#innerFloorBox{
    height: 85%;
}
#baseLine{
    height: 3px;
    background-color: black;
    
}